<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">You're out of Luck...Try another Magic Trick</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Products" asp-action="Index">Magic Trick <i class="bi bi-magic"></i></a>
    </div>
</div>
